<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>EJS Home Page</title>
</head>
<body class="bg-gradient-to-tr from-purple-300 to-pink-300 flex justify-center items-center min-h-screen">
  <h1 class="text-white font-bold text-2xl">Yor're in Home Page</h1>
</body>
</html>